<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="C:\Users\am22765\Desktop\TimeSheets\TestAppender.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="data source=Desktop Name;initial catalog=Database Name; Trusted_Connection=True;" />-->
      <connectionString value="data source=KDEVSQLPA23;initial catalog=dev_member_portal; Trusted_Connection=True;" />
      <commandText value="INSERT INTO [log_member_apps] ([Id],[timestamp],[channel],[environment],[appID],[memberID],[thread],[level],[logger],[message],[exception],[display]) VALUES (@id, @timestamp,@channel,@environment,@appID,@memberID, @thread, @level, @logger, @message, @exception,@display )" />
      <parameter>
        <parameterName value="@id" />
        <dbType value="int" />
        <size value="4" />
        <layout type="log4net.Layout.PatternLayout" />
      </parameter>
      <parameter>
        <parameterName value="@timestamp" />
        <dbType value="dateTime" />
        <size value="8" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@channel" />
        <dbType value="varchar" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" />
      </parameter>
      <parameter>
        <parameterName value="@environment" />
        <dbType value="varchar" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" />
      </parameter>
      <parameter>
        <parameterName value="@appID" />
        <dbType value="varchar" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout" />
      </parameter>
      <parameter>
        <parameterName value="@memberID" />
        <dbType value="varchar" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="varchar" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="varchar" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="varchar" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="varchar" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="varchar" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@display" />
        <dbType value="bit" />
        <size value="1" />
        <layout type="log4net.Layout.PatternLayout" />
      </parameter>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>