<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <header style="width:100%; height:100px; background-color:blue; text-align:center"><h3>Header</h3></header>
    <div style="text-align:center; height:400px;">
        @RenderBody()
    </div>
    <footer style="width:100%; height:100px; background-color:blue; text-align:center">
        <h3>Footer</h3>
    </footer>
</body>
</html>
