@model MvcApplication1.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Landing";
    Layout = "~/Views/Shared/_Common.cshtml";
}

<div style="height:700px; margin-left:55px; ">
    <h2>Hello Member </h2>
</div>